@CHARSET "ISO-8859-1";

.ace_editor {
	position: relative !important;
	border: 1px solid lightgray;
	margin: auto;
	height: 200px;
	width: 100%;
}

.scrollmargin {
	height: 100px;
	text-align: center;
}

#typeSelector {
	float: right;
}

.input-color {
	position: relative;
}

.input-color input {
	padding-left: 20px;
}

.input-color .color-box {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #ccc;
	position: absolute;
	left: 5px;
	top: 5px;
}

#imglock {
	margin-left: 20px;
}

#imgUnlock {
	margin-left: 20px;
}

#mainname {
	display: inline-block;
	overflow: hidden;
}

#headdiv {
	position: relative;
	width: 100%
}

#content {
	text-align: center;
}

